body {
  margin: 0;
  font-family: Georgia, serif;
  background: #fff;

}

header {
  color: rgb(7, 7, 7);
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Times New Roman', serif;
}

h1 {
  margin-bottom: 0px;
}

.text-reforms {
  width: 25rem;
  line-height: 25px;
}

.labor-reforms {
  display: flex;
  margin-left: 23px;
}

.divider {
  width: 2px;
  background-color: rgb(196, 194, 194);
  margin-left: 20px;
}

.news {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 35px;
  justify-content: center;
  margin-top: 20px;
}

.news-container {
  flex: 1 1 300px;
  border-top: 4px solid black;
  padding: 10px;
  max-width: 400px;
  margin-top: 12px;
}


.news-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;

}

.news-subtitle {
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
}

.news-body {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;

}

@media (max-width: 768px) {
  .news {
    flex-direction: column;
    padding: 10px;
  }

  header {
    font-size: 2rem;
  }
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0;
  margin: 40px 0;
}

.blog-column {
  flex: 1;
  margin-top: 20px;
  margin-left: 23px;
  box-sizing: border-box;
  display: flex;
  gap: 25px;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-self: center;
}

.blog-subtitle {
  font-size: 1rem;
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
}

.blog-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.blog-description {
  font-size: 1rem;
  line-height: 1.5;
}

.divider {
  width: 2px;
  background-color: rgb(196, 194, 194);
}

@media (max-width: 900px) {
  .blog-container {
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  .blog-column {
    max-width: 100%;
    border-bottom: 1px solid #ccc;
  }
}

.more-news {
  display: flex;
}


/* Estilo de  noticias */
.news-slider {
  display: flex;
  background-color: #f9f9f9;
  padding-bottom: 30px;
  border-top: 3px solid #ccc;
  margin-top: 30px;
  justify-content: space-between;
}

.left-side {
  font-size: 1.3rem;
  text-align: center;
  margin-left: 4px;
}

.left-side h2 {
  width: 245px;
  font-size: 30px;
  margin-top: 80px;
}

.right-side {
  display: flex;  
}

.slider {
  position: relative;
  width: 67.5em;
  margin: 50px auto;
  overflow: hidden;
 
}

.slider-container {
  display: flex;
  transition: transform 0.4s ease;
}

.slide {
  flex: 0 0 33.3333%;
  box-sizing: border-box;
  display: flex;
}

.slide img {
  width: 150px;
  border-radius: 8px;
  display: block;
 
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.nav.prev {
  left: 0;
}

.nav.next {
 right: 0;
}

.info{
  margin-left: 10px;
  width: 140px;
}




/* Estilos footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 10px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;

}

h4 {
  margin-bottom: 10px;
}

.inf-company {
  line-height: 30px;
}

.footer-container a:hover {
  text-decoration: underline;
}

.footer-section-enlaces,
.footer-section-datacompany,
.footer-section-social {
  flex: 1 1 200px;
  min-width: 150px;
}

.footer-section-copy {
  flex: 1 1 100%;
  text-align: center;
  font-size: 12px;
}

