body {
  margin: 0;
  font-family: Georgia, serif;
  background: #fff;

}

header {
  color: rgb(7, 7, 7);
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Times New Roman', serif;
}

.h1_header {
  padding-top: 15px;
  margin-bottom: 0px;
  font-size: 50px;
  padding: 0;
}

.locality {
  text-align: center;
  margin-bottom: 15px;
}

.header_img {
  width: 59em;
  margin-bottom: 0px;
}


.news {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 35px;
  justify-content: center;
  margin-top: 20px;
}

.news-container {
  flex: 1 1 300px;
  border-top: 4px solid black;
  padding: 10px;
  max-width: 400px;
}
.news-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 0px;
  margin-top: -10px;  
}

.news-title1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding: 0px;
  text-align: left;
  margin-top: 10px;
  
}

.news-subtitle {
  font-style: italic;
  color: #555;
  margin-bottom: 10px;
  margin-top: 15px;
}

.news-body p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.news-body {
  font-size: 1rem;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .header_img {
    width: 46em;
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 480px) {
  .news {
    padding: 10px;
  }

  .news-title1 {
    width: 350px;
    line-height: 35px;
    text-align: center;
  }

  .news-subtitle {
    width: 335px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 25px;
  }






}

/* Nuevas Reformas */
.title_reforms {
  text-align: center;
  margin-left: 23px;
  margin-bottom: 40px;
  padding: 0px;
}

.labor-reforms {
  display: flex;
  margin-left: 23px;
}

.reformsImg {
  width: 390px;  
}

.text-reforms {
  width: 25rem;
  line-height: 25px;
}

.subtitle_reduction {
  margin-top: 0px;
  margin-left: 23px;
}

.paragraph_reforms {
  margin-top: 0px;
  margin-left: 23px;
  text-align: justify;
  margin-bottom: 10px;
    }


.divider {
  width: 2px;
  background-color: rgb(196, 194, 194);
  margin-left: 20px;
}

.enlace_reforms {
 margin-left: 22px;
}

@media (max-width: 768px) {
  .labor-reforms {
    flex-direction: column;
    align-items: center
  }

  .subtitle_reduction {
    margin-top: 0px;
    margin-left: 0px;
  }

  .paragraph_reforms {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .enlace_reforms {
    margin-left: 0px;

  }

  .reformsImg {
    width: 490px;
    margin-left: 0px;
    margin-bottom: 20px;
  }

  .text-reforms {
    width: 30.5em;
    line-height: 25px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  .header_img {
    width: 22em;
    margin-bottom: 0px;

  }

  .news-body p {
    width: 335px;
  }

  .news-title {
    font-size: 25px;
    margin-bottom: 20px;
    padding: 0px;
    margin-top: 0px;
    width: 335px;
    line-height: 35px;
    margin-top: -20px;
  }

  .title_reforms {
    font-size: 25px;
    width: 300px;
    line-height: 40px;
    margin-bottom: 25px;
  }

  .news-container {
    width: 270px;
  }

  .news-body {
    width: 335px;
    text-align: justify;
  }

  .text-reforms {
    width: 21em;
    margin-bottom: 0px;
  }

  .reformsImg {
    width: 335px;
    margin-top: 20px;
  }

  .reforms-news {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .labor-reforms {
    margin-left: 0px;
  }



}

/* Estilo Regularización */
.regulation_news {
  padding: 0px 23px 0px 20px;
  line-height: 25px;
  margin-left: 30px;
  margin-right: 25px;
}

.enlace_news {
  margin-left: 53px;
}

.regularizaciónImg {
  display: flex;
  justify-self: center;
  margin-top: 25px;
}

@media (max-width: 768px) {
  .regulation_news {
    padding: 0px 23px 0px 23px;
    line-height: 25px;
    text-align: justify;
  }

  .regularizaciónImg {
    width: 46em;
  }
}

@media screen and (max-width: 480px) {
  .regulation-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .regulation_news {
    padding: 0px;
    margin: 0px;
    width: 21em;
  }

  .regulation {
    font-size: 25px;
    width: 270px;
    text-align: center;
    margin-top: 20px;
    padding: 0;
  }

  .regulation_news {
    margin-bottom: 15px;
    line-height: 25px;
    text-align: justify;
    margin-top: 10px;
  }

  .enlace_news {
    margin-left: 0px;
  }

  .regularizaciónImg {
    width: 21em;
  }

}

/* Estilo Descenso */
h1 {
  text-align: center;
  padding: 30px 0px 30px 0px;
}

.blog-column {
  flex: 1;
  margin-top: 20px;
  margin-left: 23px;
  box-sizing: border-box;
  display: flex;
  gap: 35px;
}

.blog-image {
  height: auto;
  margin-bottom: 10px;
  width: 58.2em;
  display: flex;
  margin-left: 20px;
}

.blog-image1 {
  width: 290px;
  height: 220px;
  margin-right: 25px;
}

.blog-image2 {
  width: 290px;
  height: 220px
}

.descent_news {
  line-height: 25px;
  text-align: justify;
  margin-right: 17px;
  margin-top: 0px;
  margin-bottom: 5px;
  width: 17.9em
}

@media (max-width: 768px) {
  .blog-image {
    width: 28.6em;
    height: 15em;
    display: flex;
    margin-left: 0px;
    margin-top: 80px;
  }

  .blog-image1 {
    width: 220px;
    height: 170px;
    margin-right: 25px;
  }

  .blog-image2 {
    width: 220px;
    height: 170px;
  }

  .descent_news {
    width: 13.7em;
  }

  .blog-column {
    gap: 27px;
  }

}

@media screen and (max-width: 480px) {
  .blog-image {
    margin-left: 0px;
    width: 21em;
    height: 12em;
    margin-top: 0px;
  }
}

/* Estilo Prensa España */
.news-slider {
  display: flex;
  background-color: #f9f9f9;
  padding-bottom: 30px;
  border-top: 3px solid #ccc;
  margin-top: 30px;
  justify-content: space-between;
  overflow: hidden; 
}

.left-side {
  font-size: 1.3rem;
  text-align: center;
}

.left-side h2 {
  width: 245px;
  font-size: 30px;
  margin-top: 80px;
}

.left-side h3 {
  margin-top: 2px;
}

.right-side {
  display: flex;
}

.slider {
  position: relative;
  width: 67.5em;
  margin: 40px auto;
  overflow: hidden;
  justify-content: center;
}

.slider-container {
  display: flex;
  transition: transform 0.4s ease;
}

.slide {
  box-sizing: border-box;
  display: flex;
}

.slide img {
  width: 150px;
  height: 220px;
  border-radius: 8px;
  display: block;
  margin-left: 47px;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.nav.prev {
  left: 0;
}

.nav.next {
  right: 2px;
}

.info {
  margin-left: 10px;
  width: 140px;
  font-size: 15.4px;
  line-height: 20px;

}

.info a {
  text-decoration: none;
}

.info a:hover {
  color: #c7750a
}

.info p {
  margin-bottom: 5px;
  margin-top: 8px;
}

hr {
  width: 250px;
  display: flex;
  flex-direction: row;
}

.separator {
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .slider {
    width: 67em;
    margin: 0px;
  }

  .left-side {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }

  .left-side h2 {
    width: 50em;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .right-side {
    width: 739px;
    align-self: center;
  }

  .news-slider {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .slider-container {
    margin: 0px;
    padding: 0px;
  }

  .nav {
    padding: 5px;
  }

  .separator {
    margin-top: 0px;
  }
  .slider-container {
  display: flex;
  transition: transform 0.4s ease;
}
}

@media screen and (max-width: 480px) {
  .left-side h2 {
    width: 17em;
    text-align: center;
    line-height: 35px;
  }

  .right-side {
    width: 24em;
    margin-top: 20px;
  }

  .slide {
    padding: 0;
    margin-left: 0px;
  }

  .blog-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0px;
  }

  .blog-image1 {
    margin-bottom: 30px;
    margin-right: 0px;
  }

  .descent-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .descent-text {
    font-size: 25px;
    width: 285px;
  }

  .descent_news {
    width: 20em;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 28px;
  }

  .nav.next {
    right: 14px;
  }

  .nav.prev {
    left: 14px;
  }
  
}


/* Estilos footer */

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 10px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-container a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

h4 {
  margin-bottom: 10px;
}

.inf-company {
  line-height: 30px;
}

.footer-container a:hover {
  text-decoration: underline;
}

.footer-section-enlaces,
.footer-section-datacompany,
.footer-section-social {
  flex: 1 1 200px;
  min-width: 150px;
}

.footer-section-copy {
  flex: 1 1 100%;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 480px) {
  h4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8px;
  }

  .footer-section-enlaces {
    display: flex;
    flex-direction: column;
    line-height: 23px;
    text-align: center;
  }

  .inf-company {
    line-height: 15px;
    text-align: center;
  }

  .footer-section-enlaces,
  .footer-section-datacompany,
  .footer-section-social {
    text-align: center;
  }

  .footer-p {
    text-align: center;
  }
}